In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import warnings
warnings.filterwarnings("ignore", category=FutureWarning)

In [3]:
filename = 'pima-indians-diabetes.data.csv'
names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']
dataframe = pd.read_csv(filename, names=names)

In [30]:
dataframe.head()

   preg  plas  pres  skin  test  mass   pedi  age  class
0     6   148    72    35     0  33.6  0.627   50      1
1     1    85    66    29     0  26.6  0.351   31      0
2     8   183    64     0     0  23.3  0.672   32      1
3     1    89    66    23    94  28.1  0.167   21      0
4     0   137    40    35   168  43.1  2.288   33      1

# SVM

In [4]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.svm import SVC

In [5]:
array = dataframe.values
X = array[:,0:8]
Y = array[:,8]
kfold = KFold(n_splits=10, random_state=7)
model = SVC()
results = cross_val_score(model, X, Y, cv=kfold)
print(results.mean())

0.6510252904989747

# Logistic Regression Classification

In [6]:
from sklearn.linear_model import LogisticRegression
array = dataframe.values
X = array[:,0:8]
Y = array[:,8]
kfold = KFold(n_splits=10, random_state=7)
model = LogisticRegression()
results = cross_val_score(model, X, Y, cv=kfold)
print(results.mean())

0.7695146958304853

# LDA Classification

In [7]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
array = dataframe.values
X = array[:,0:8]
Y = array[:,8]
kfold = KFold(n_splits=10, random_state=7)
model = LinearDiscriminantAnalysis()
results = cross_val_score(model, X, Y, cv=kfold)
print(results.mean())

0.773462064251538

# KNN Classification

In [8]:
from sklearn.neighbors import KNeighborsClassifier

array = dataframe.values
X = array[:,0:8]
Y = array[:,8]
kfold = KFold(n_splits=10, random_state=7)
model = KNeighborsClassifier()
results = cross_val_score(model, X, Y, cv=kfold)
print(results.mean())

0.7265550239234451

# GaussianNB

In [9]:
from sklearn.naive_bayes import GaussianNB
array = dataframe.values
X = array[:,0:8]
Y = array[:,8]
kfold = KFold(n_splits=10, random_state=7)
model = GaussianNB()
results = cross_val_score(model, X, Y, cv=kfold)
print(results.mean())

0.7551777170198223

# DecisionTreeClassifier

In [10]:
from sklearn.tree import DecisionTreeClassifier

array = dataframe.values
X = array[:,0:8]
Y = array[:,8]
kfold = KFold(n_splits=10, random_state=7)
model = DecisionTreeClassifier()
results = cross_val_score(model, X, Y, cv=kfold)
print(results.mean())

0.6938995215311005

 # iris data

In [11]:
dfi = pd.read_csv('iris.csv')

In [12]:
dfi.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [13]:
dfi.shape

(150, 5)

In [14]:
array = dfi.values
X = array[:,0:4]
Y = array[:,4]

In [15]:
kfold = KFold(n_splits=10, random_state=7)
model = DecisionTreeClassifier()
results = cross_val_score(model, X, Y, cv=kfold)
mr_dtc = results.mean()

In [16]:
model = GaussianNB()
results = cross_val_score(model, X, Y, cv=kfold)
mr_g = results.mean()

In [17]:
model = KNeighborsClassifier()
results = cross_val_score(model, X, Y, cv=kfold)
mr_kn = results.mean()

In [18]:
model = LinearDiscriminantAnalysis()
results = cross_val_score(model, X, Y, cv=kfold)
mr_lda = results.mean()

In [19]:
model = SVC()
results = cross_val_score(model, X, Y, cv=kfold)
mr_svc = results.mean()

In [20]:
model = LogisticRegression()
results = cross_val_score(model, X, Y, cv=kfold)
rm_lr = results.mean()

In [23]:
err = {'DecisionTreeClassifier':mr_dtc,'GaussianNB':mr_g,'KNeighborsClassifier':mr_kn,
       'lda':mr_lda, 'SVC':mr_svc, 'LogisticRegression':rm_lr}

In [28]:
err

{'DecisionTreeClassifier': 0.9266666666666665,
 'GaussianNB': 0.9466666666666667,
 'KNeighborsClassifier': 0.9333333333333333,
 'lda': 0.9666666666666668,
 'SVC': 0.9533333333333334,
 'LogisticRegression': 0.8799999999999999}